#rotuloRaza {
    width: 63%;
    display: flex;
    justify-content: center;
}

#tituloRaza {
    text-align: center;
    margin: 0;
    font-size: 5rem;
    font-style: oblique;
    display: none;
    letter-spacing: 3px;
    width: fit-content;
    padding: 2px 20px;
    border-radius: 15px;
    background-color: #00000088;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
}

@media (max-width: 1000px) {
    #rotuloRaza {
        width: 100%;
    }
}

#cuerpo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 1000px) {
    #cuerpo {
        display: flex;
        flex-direction: column-reverse;
    }
}

#inputs {
    padding: 0 30px;
}

#textAPI {
    margin-top: 15px;
    margin-left: -25px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
}

.divAPI {
    font-size: 1.5em;
    background-color: #00000088;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-bottom: 15px;
    height: 250px;
}

.rotulo {
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
}

.datosAPI {
    font-size: 2.8rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    text-align: center;
    padding: 0 10px;
}

.datosAPI {
    display: grid;
    justify-items: center;
}

.imgBarras {
    width: 70%;
    margin: 0;
}

#photoAPI {
    margin-top: 15px;
}

#photoAPI > div > img {
    border-radius: 25px;
    margin-left: -45px;
    width: 105%;
}

@media (max-width: 1000px) {
    #photoAPI > div > img {
        width: 85%;
        border-radius: 25px;
        justify-self: center;
        align-self: center;
        margin-left: 45px;
    }

    #fav_no {
        margin-left: 50px;
    }
}