/*
Aqui se añaden los estilos en comun del header para todos los HTMLs
No valido para index.html ya que la cabecera es mas compleja
*/

@font-face {
    font-family: Catpaw;
    src: local("Catpaw"),
    local("Catpaw"),
    url(../assets/font/Cat\ paw.ttf);
    font-weight: bold;
  }

body {
    background-image: url(../assets/img/fondo_80.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Catpaw, serif;
    letter-spacing: 10px;
    font-size: 7rem;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: wavy underline black;
}

#titulo {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;
}